{% extends "base.html" %}

<!-- Page Heading -->
{% block page_heading %}
<div class="row mb-3">
  <div class="col-5 col-sm-3">
    <h1 class="h3 mb-0 text-gray-800">Detection</h1>
  </div>

  <div class="col-7 col-sm-9">
    <div class="float-right">
      {% if det_started %}
      <button id="btn_start" class="btn btn-sm btn-primary shadow-sm" disabled onclick = 'start_det();'><i class="fas fa-bolt fa-sm text-white-50"></i> Start <span class="d-none d-sm-inline-block">Detection</span></button>
      <button id="btn_stop" class="btn btn-sm btn-primary shadow-sm" onclick = 'stop_det();'><i class="fas fa-power-off fa-sm text-white-50"></i> Stop <span class="d-none d-sm-inline-block">Detection</span></button>
      {% else %}
      <button id="btn_start" class="btn btn-sm btn-primary shadow-sm" onclick = 'start_det();'><i class="fas fa-bolt fa-sm text-white-50"></i> Start <span class="d-none d-sm-inline-block">Detection</span></button>
      <button id="btn_stop" class="btn btn-sm btn-primary shadow-sm" disabled onclick = 'stop_det();'><i class="fas fa-power-off fa-sm text-white-50"></i> Stop <span class="d-none d-sm-inline-block">Detection</span></button>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

<!-- Content Row -->
{% block page_content %}
<div class="row">

  <div class="col-lg-6 mb-0">
    <!-- Approach -->
    <div class="card shadow mb-0">
      <div class="card-header py-2">
        <h6 class="m-0 font-weight-bold text-primary">Intrusions</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Date</th>
                <th>Duration</th>
		            <th></th>
              </tr>
            </thead>
            <tbody>
            {% for det in detections %}
              <tr>
                <td><button onclick = "change_det({{ det[0] }},{{ det[2] }},{{ det[1] }});" class="btn btn-sm btn-primary shadow-sm">{{ det[1]|datetime }}</button></td>
                <td>{{ det[2] }}</td>
                <td>
                  <div class="text-right">
                    <button class="btn btn-light btn-circle btn-sm" onclick = "delete_detection(this,{{ det[0] }});">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
	              </td>
              </tr>
	          {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-6 mb-0">
    <!-- Illustrations -->
    <div class="card shadow mb-0">
      <div class="card-header py-2">
        <h6 class="m-0 font-weight-bold text-primary">Capture <span class="float-right"><span id="date_id"></span> Local Time</span></h6>
      </div>
      <div class="card-body">
        <div class="text-center">
            {% if det_num > 0 %}
            <img id="capture" class="img-fluid px-0 px-sm-0 mt-0 mb-4" style="width: 100%" src="detection/{{ (detections|last)[0] }}/0" alt="">
            {% else %}
            <img id="capture" class="img-fluid px-0 px-sm-0 mt-0 mb-4" style="width: 100%" src="images/placeholder.jpeg" alt="">
            {% endif %}
            <div class="row">
              <div class="col">
                <button id="btn_previous" class="btn btn-sm btn-primary shadow-sm float-left"{% if det_num == 0 %} disabled {% endif %} onclick = "show_previous();"><i class="fas fa-angle-left fa-sm text-white-50"></i> Previous</button>
              </div>
              <div class="col">
                <a id="btn_download" class="btn btn-sm btn-primary shadow-sm {% if det_num == 0 %} disabled {% endif %}" href="{% if det_num > 0 %}/detection_tar/{{(detections|last)[0]}}_capture.tar{% endif %}" download ><i class="fas fa-download fa-sm text-white-50"></i> Download</a>
              </div>
              <div class="col">
                <button id="btn_next" class="btn btn-sm btn-primary shadow-sm float-right" {% if det_num == 0 %} disabled {% endif %} onclick = "show_next();">Next <i class="fas fa-angle-right fa-sm text-white-50"></i></button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block page_script %}
<script type="text/javascript" charset="utf-8">
  function start_det(){
    $.post( "/api/det_status",{ det: "start"} ,function( data ){
      if( data == 'ok'){
          $("#btn_start").prop("disabled", true);
          $("#btn_stop").prop("disabled", false);
          $("#summary_det_status").removeClass("bg-primary").addClass("bg-warning");
        }
      else{
          console.log("ERROR");
      }
    });
  };
  function stop_det(){
    $.post( "/api/det_status",{ det: "stop"} ,function( data ){
      if( data == 'ok'){
          $("#btn_start").prop("disabled", false);
          $("#btn_stop").prop("disabled", true);
          $("#summary_det_status").removeClass("bg-warning").addClass("bg-primary");
        }
      else{
          console.log("ERROR");
      }
    });
  };

  {% if det_num > 0 %}
  var current_det = {{ (detections|last)[0] }};
  var current_frame = 0;
  var current_tot_frames = {{ (detections|last)[2] }};
  {% else %}
  var current_det = -1;
  var current_frame = -1;
  var current_tot_frames = -1;
  {% endif %}
  
  function show_capture(num_det,num_frame) {
    if(num_det >= 0){
      var img = document.getElementById("capture");
      img.src = "detection/"+num_det+"/"+num_frame;
      $("#btn_previous").prop("disabled", false);
      $("#btn_download").removeClass("disabled");
      $("#btn_next").prop("disabled", false);
    }else{
      var img = document.getElementById("capture");
      img.src = "images/placeholder.jpeg";
      $("#btn_previous").prop("disabled", true);
      $("#btn_download").addClass("disabled");
      $("#btn_next").prop("disabled", true);
    }
  };
  
  function show_time(date) {
    if(date >= 0){
      var formattedDate = moment(date*1000).format('YYYY-MM-DD HH:mm:ss');
      $("#date_id").html(formattedDate);
    }else{
      $("#date_id").html("");
    }
  };
  
  function change_det(num_det,num_frames,date) {
    current_det = num_det;
    current_frame = 0;
    current_tot_frames = num_frames;
    show_capture(current_det,current_frame);
    show_time(date);
    change_dowload(num_det);
  };

  function change_dowload(num_det) {
    $("#btn_download").attr("href", "/detection_tar/"+num_det+"_capture.tar");
  };
  
  function show_previous() {
    if(current_det >= 0){
      if (current_frame == 0){
        current_frame = (current_tot_frames-1);
        show_capture(current_det,current_frame);
      }
      else{
        current_frame = current_frame -1;
        show_capture(current_det,current_frame);
      }
    }
  };
  
  function show_next() {
    if(current_det >= 0){
      if (current_frame == (current_tot_frames-1)){
        current_frame = 0;
        show_capture(current_det,current_frame);
      }
      else{
        current_frame = current_frame +1;
        show_capture(current_det,current_frame);
      }
    }
  };
  

  function delete_detection(button,id) {
    $.post( "/api/delete_detection",{ delete_detection: id} );
    change_det(-1,-1,-1);
  };
  
  function update_detection_table() {

    var socketio = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/detections');

    socketio.on('newdet', function(data) {
      var event_words = data.event.split(' ');
      var num_event_words = event_words.length;
      
      if(num_event_words == 4){
        if(event_words[0] == 'newdet'){
            det_table.row.add( [
              '<button onclick = "change_det('+event_words[1]+','+event_words[3]+','+event_words[2]+');" class="btn btn-sm btn-primary shadow-sm">'+moment(event_words[2]*1000).utc().format('YYYY-MM-DD HH:mm:ss UTC')+'</button>',
              event_words[3],
              '<div class="text-right"><button class="btn btn-light btn-circle btn-sm" onclick = "delete_detection(this,'+event_words[1]+');"><i class="fas fa-times"></i></button></div>',
              ] ).draw( false );
            change_det(event_words[1],event_words[3],event_words[2]);
        }
      }
    });
  };

  update_detection_table();

  // Call the dataTables jQuery plugin
  $(document).ready(function() {
    det_table = $('#dataTable').DataTable( {
        "order": [[ 0, "desc" ]]
    } );
  });
  
  $('#dataTable').on("click", "button", function(){
    det_table.row($(this).parents('div').parents('tr')).remove().draw(false);
  });

</script>

{% endblock %}

