{% extends "base.html" %}

<!-- Custom style -->
{% block page_style %}


{% endblock %}

<!-- Page Heading -->
{% block page_heading %}
<div class="row mb-3">
  <div class="col-5 col-sm-3">
    <h1 class="h3 mb-0 text-gray-800">Liveview</h1>
  </div>

  <div class="col-7 col-sm-9">
    <div class="float-right">
      {% if lvw_started %}
      <button id="btn_start" class="btn btn-sm btn-primary shadow-sm disabled" onclick = 'start_lvw();'><i class="fas fa-bolt fa-sm text-white-50"></i> Start <span class="d-none d-sm-inline-block">LiveView</span></button>
      <button id="btn_stop" class="btn btn-sm btn-primary shadow-sm" onclick = 'stop_lvw();'><i class="fas fa-power-off fa-sm text-white-50"></i> Stop <span class="d-none d-sm-inline-block">LiveView</span></button>
      {% else %}
      <button id="btn_start" class="btn btn-sm btn-primary shadow-sm" onclick = 'start_lvw();'><i class="fas fa-bolt fa-sm text-white-50"></i> Start <span class="d-none d-sm-inline-block">LiveView</span></button>
      <button id="btn_stop" class="btn btn-sm btn-primary shadow-sm disabled" onclick = 'stop_lvw();'><i class="fas fa-power-off fa-sm text-white-50"></i> Stop <span class="d-none d-sm-inline-block">LiveView</span></button>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

<!-- Content Row -->
{% block page_content %}
<div class="row">

  <div class="col-lg-7 mb-0">

    <!-- Illustrations -->
    <div class="card shadow mb-2">
      <div class="card-header py-2">
        <h6 class="m-0 font-weight-bold text-primary">Liveview</h6>
      </div>
      <div class="card-body">
        <div class="text-center">
          <img class="img-fluid px-0 px-sm-0 mt-0 mb-0" style="width: 100%" src="images/placeholder.jpeg" id="liveview_img" alt="">
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-5 mb-0">

    <!-- Approach -->
    <div class="card shadow mb-0">
      <div class="card-header py-2">
        <h6 class="m-0 font-weight-bold text-primary">Controls</h6>
      </div>
      <div class="card-body">
        <!-- Button -->
        <div class="mb-4">
          <button id="test" class="btn btn-sm btn-primary shadow-sm" onclick = 'button_test();'>Test</button>
        </div>
        <!-- switch -->
        <div class="mb-4">
          <label class="switch">
            <input type="checkbox">
            <span class="slider_switch round"></span>
          </label>
        </div>
        <!-- Slider -->
        <div class="mb-4">
	        <input type="range" min="-60" max="60" value="{{tilt}}" class="slider" id="myRange" onchange="updateSlider(this.value)">
	      </div>
	      
      </div>
    </div>

  </div>

</div>
{% endblock %}


{% block page_script %}
<script type="text/javascript" charset="utf-8">

  function start_lvw(){
    $.post( "/api/lvw_status",{ lvw: "start"} ,function( data ){
      if( data == 'ok'){
          $("#btn_start").addClass("disabled");
          $("#btn_stop").removeClass("disabled");
          $("#summary_lvw_status").removeClass("bg-primary").addClass("bg-warning");
          lvw_is_started = true;
        }
      else{
          console.log("ERROR");
      }
    });
  };

  function stop_lvw(){
    $.post( "/api/lvw_status",{ lvw: "stop"} ,function( data ){
      if( data == 'ok'){
          $("#btn_start").removeClass("disabled");
          $("#btn_stop").addClass("disabled");
          $("#summary_lvw_status").removeClass("bg-warning").addClass("bg-primary");
          var img = document.getElementById("liveview_img");
          img.src = "images/placeholder.jpeg";
          lvw_is_started = false;
        }
      else{
          console.log("ERROR");
      }
    });
  };

  function listen_to_liveview_frames() {

    var socketio = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

    socketio.on('connect', function() {
	    socketio.emit('my event', {data: 'I\'m connected!'});
    });
    
    socketio.on('my event', function(data) {
	    var img = document.getElementById("liveview_img");
      if(lvw_is_started){
	    img.src = 'data:image/jpg;base64,' + data.frame;}
    });

    lvw_is_started = false;

    $.get( "/api/lvw_status", function( data ) {
      if (data == "1") {
        lvw_is_started = true;
      }
    });
  };

listen_to_liveview_frames();


function updateSlider(slideAmount) {
  $.post( "/api/change_tilt",{ tilt: slideAmount} );
};
  
</script>

{% endblock %}

