{% extends "base.html" %}

<!-- Page Heading -->
{% block page_heading %}
<div class="row mb-4">
  <div class="col-12 col-sm-4">
    <h1 class="h3 mb-0 text-gray-800">Log viewer</h1>
  </div>
</div>
{% endblock %}

<!-- Content Row -->
{% block page_content %}
<div class="row">
  <div class="col-12 mb-4">
    <!-- Kinectalarm log -->
    <div class="card shadow mb-0">
      <div class="card-header py-2">
        <h6 class="m-0 font-weight-bold text-primary">System Syslog</h6>
      </div>
      <div class="card-body pr-1">
        <div id="" style="height:500px; overflow-y:scroll">
          {% for log in log_text|reverse %}
          <p>{{log}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
