<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		<title>Alarma login</title>

		<!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	</head>
	<body>
		<nav class="blue-grey lighten-2" role="navigation">
			<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">PresenceOS</a>
				<ul class="right hide-on-med-and-down"></ul>
				<ul id="nav-mobile" class="side-nav"></ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			</div>
		</nav>
		<div class="section no-pad-bot" id="index-banner">
			<div class="container">
				<br><br>
				<h1 class="header center grey-text">Login</h1>
				<div class="row center">
					<div class="col s8 input-field">
						<input id="field_pass_id" type="password" class="validate">
						<label id="lblfield_conf_pass_id" for="field_pass_id" data-error="Invalid Password">Password</label>
					</div>
					<div class="col s4 input-field">
						<button class="btn waves-effect waves-light blue-grey lighten-2" id="id_button_login" onclick = 'login();'>Submit<i class="material-icons right">send</i></button>
					</div>
				</div>
			</div>
		</div>
		<!--  Scripts-->
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/materialize.js"></script>
		<script src="js/init.js"></script>
		<script src="js/sha512.js"></script>

		<script type="text/javascript" charset="utf-8">

		function login(){

			var input_pass_obj = document.getElementById('field_pass_id');
			var shaObj = new jsSHA("SHA-512", "TEXT");
			shaObj.update(input_pass_obj.value);
			var hash = shaObj.getHash("HEX");

			$("#id_button_login").html('Submit<i class="material-icons right">panorama_fish_eye</i>')
			$("#id_button_login").addClass("disabled");

			$.post( "/request_login",{ password: hash} ,function( data ){
					if( data == 'ok'){
						setTimeout(function(){ 
						$("#id_button_login").html('Submit<i class="material-icons right">check_circle</i>')
						setTimeout(function(){ window.location.href = "/"; }, 1000);
						}, 1000);
					}
					else{
						setTimeout(function(){ 
						$("#id_button_login").html('Submit<i class="material-icons right">cancel</i>')
						$("#field_pass_id").addClass("invalid");
						$("#id_button_login").removeClass("disabled");
						}, 1000);

					}
					
				});
		};

		$("#field_pass_id").on("keyup", function (e) {
			if (event.key != "Enter") {
		    	$("#id_button_login").html('Submit<i class="material-icons right">send</i>')
		    	$("#field_pass_id").removeClass("invalid");
			}
		});

		$("#field_pass_id").on("keydown", function (e) {
			if (event.key == "Enter") {
				login();
			}
		});
		</script>
	</body>
</html>