{% extends "base.html" %}

<!-- TOP PANEL  -->
{% block top_panel %}
	<div class="container">
		<div class="row center">
			<h5 class="header col s12 light">Control Detection</h5>
		</div>
	</div>
	<div class="row center">
		<form action="" method="post">
			{% if det_started %}
			<button class="btn-large waves-effect waves-light orange disabled ale_btn" name="detection" value="start">Start</button>
			<button class="btn-large waves-effect waves-light orange ale_btn" name="detection" value="stop">Stop</button>
			{% else %}
			<button class="btn-large waves-effect waves-light orange ale_btn" name="detection" value="start">Start</button>
			<button class="btn-large waves-effect waves-light orange disabled ale_btn" name="detection" value="stop">Stop</button>
			{% endif %}
		</form>
	</div>
	<div class="row center">
		<form action="reset_detection" method="post">
			{% if det_num %}
			<button class="btn-large waves-effect waves-light orange ale_btn" name="delete_detections" value="true">Delete detections</button>
			{% else %}
			<button class="btn-large waves-effect waves-light orange disabled ale_btn" name="delete_detections" value="true">Delete detections</button>
			{% endif %}
		</form>
	</div>
{% endblock %}
<!-- CONTENT  -->
{% block content %}
	<div class="row center">
		{% for i in range(det_num) %}
		<h1><img class="responsive-img" src="detection/{{ i }}/2" alt="detection n{{ i }}"></h1>
		{% endfor %}
	</div>
{% endblock %}
