{% extends "base.html" %}

<!-- Page Heading -->
{% block page_heading %}
<div class="row mb-4">
  <div class="col-12 col-sm-4">
    <h1 class="h3 mb-0 text-gray-800">Settings</h1>
  </div>
</div>
{% endblock %}

<!-- Content Row -->
{% block page_content %}
<div class="row">
  <div class="col-lg-6 col-xl-4 mb-4">
    <!-- Email options -->
    <div class="card shadow mb-2">
      <div class="card-header py-2">
        <h6 class="m-0 font-weight-bold text-primary">Email options</h6>
      </div>
      <div class="card-body">
          <!-- switch -->
          
          <h4 class="small font-weight-bold">Activate</h4>
          <div class="mb-2">
            <label class="switch">
              <input type="checkbox" name="activate_email" {% if send_email_activate %}checked{% endif %}>
              <span class="slider_switch round"></span>
            </label>
          </div>
          
          <div class="form-group">
            <h4 class="small font-weight-bold">Sender email account</h4>
            <input class="form-control form-control-user mb-2" id="email_from" value="{{email_from}}">
            <h4 class="small font-weight-bold">Sender email password</h4>
            <input class="form-control form-control-user mb-2" id="password" type="password" value="{{password}}">
            <h4 class="small font-weight-bold">Destination email account</h4>
            <input class="form-control form-control-user mb-2" id="email_to" value="{{email_to}}">
            <h4 class="small font-weight-bold">Email Server URL</h4>
            <input class="form-control form-control-user mb-2" id="smtp_server_url" value="{{smtp_server_url}}">
            <h4 class="small font-weight-bold">Email Server port</h4>
            <input class="form-control form-control-user mb-2" id="smtp_server_port" value="{{smtp_server_port}}">
          </div>
          <button class="btn btn-primary btn-user btn-block mb-2" onclick = 'submit_email_data();'>Submit</button>
        
          <div class="dropdown-divider mt-4 mb-4"></div>
          <!-- Button -->
          <h4 class="small font-weight-bold">Send test email</h4>
          <button class="btn btn-primary btn-user btn-block mb-2" onclick = 'request_email_test();'>Send</button>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-4 mb-4">
    <!-- Detection options -->
    <div class="card shadow mb-2">
      <div class="card-header py-2">
        <h6 class="m-0 font-weight-bold text-primary">Detection options</h6>
      </div>
      <div class="card-body">
	      <h4 class="small font-weight-bold">Clear all detections</h4>
	      <button data-toggle="modal" data-target="#delete_detections" class="btn btn-primary btn-user btn-block mb-2">Clear all detections</button>
        
        <div class="dropdown-divider mt-4 mb-4"></div>
        
        <div class="form-group">
          <h4 class="small font-weight-bold">Threshold</h4>
          <input class="form-control form-control-user mb-2" id="field_threshold" value="{{threshold}}">
          <h4 class="small font-weight-bold">Sensitivity</h4>
          <input class="form-control form-control-user mb-2" id="field_sensitivity" value="{{sensitivity}}">
        </div>
        <button class="btn btn-primary btn-user btn-block" onclick = 'submit_det_controls();'>Submit</button>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-xl-4 mb-4">
    <!-- Detection options -->
    <div class="card shadow mb-2">
      <div class="card-header py-2">
        <h6 class="m-0 font-weight-bold text-primary">System options</h6>
      </div>
      <div class="card-body">
        <h4 class="small font-weight-bold">SSH activate</h4>
        <div class="mb-2">
          <label class="switch">
            <input type="checkbox" name="activate_ssh" {% if ssh_activate %}checked{% endif %}>
            <span class="slider_switch round"></span>
          </label>
        </div>
        <div class="dropdown-divider mt-4 mb-4"></div>
        <h4 class="small font-weight-bold">System reboot</h4>
        <button data-toggle="modal" data-target="#reboot_system" class="btn btn-primary btn-user btn-block mb-2">Reboot</button>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="delete_detections" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete all captures.</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Press delete to confirm.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" type="button" onclick = "delete_captures();" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="reboot_system" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reboot system.</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Press reboot to confirm.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" type="button" onclick = "request_system_reboot();" data-dismiss="modal">Reboot</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block page_script %}
<script type="text/javascript" charset="utf-8">

  function delete_captures(){
    $.post( "/api/delete_detections",{ delete_detections: "true"});
  };
  
  function submit_det_controls(){
    var threshold = document.getElementById('field_threshold').value;
    var sensitivity = document.getElementById('field_sensitivity').value;
    
    $.post( "/api/change_threshold",{ threshold: threshold});
    $.post( "/api/change_sensitivity",{ sensitivity: sensitivity});
  };
  
  function submit_email_data(){
    var email_from = document.getElementById('email_from').value;
    var password = document.getElementById('password').value;
    var email_to = document.getElementById('email_to').value;
    var smtp_server_url = document.getElementById('smtp_server_url').value;
    var smtp_server_port = document.getElementById('smtp_server_port').value;
    
    $.post( "/api/change_email_data",{ email_from:email_from,password:password,email_to:email_to,smtp_server_url:smtp_server_url,smtp_server_port:smtp_server_port});
  };

  function request_email_test(){
    $.post( "/api/send_email_test",{ email_test: 'true'});
  };

  function request_system_reboot(){
    $.post( "/api/system_reboot",{ system_reboot: 'true'});
  };

  $('input[name=activate_email]').change(function(){
    if($('input[name=activate_email]').is(':checked')){
      $.post( "/api/send_email_activate",{ activate: '1'});
    } else {
      $.post( "/api/send_email_activate",{ activate: '0'});
    }
  });
  
  $('input[name=activate_ssh]').change(function(){
    if($('input[name=activate_ssh]').is(':checked')){
      $.post( "/api/config_ssh",{ ssh: 'true'});
    } else {
      $.post( "/api/config_ssh",{ ssh: 'false'});
    }
  });

</script>

{% endblock %}

